// Variables

@font: #070c14;
@mainbg: #e3dec4;
@navbg: #3e8e95;
@alt: #ab7c74;
@borderbg: #cc9b51;
@border: 6px groove @borderbg;
@altborder: 4px groove @alt;
@imgborder: 4px groove @mainbg;
@950: ~"only screen and (min-width: 950px)";
@730: ~"only screen and (min-width: 730px)";
@400: ~"only screen and (min-width: 400px)";

// Mixins

.flexrow {display: flex;
    flex-direction: row;
    align-items: center;}

.flexcolumn {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.flexcolumnalt {display: flex;
    flex-direction: column;}


// Basic Styles

.center {margin: auto;}