.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexcolumnalt {
  display: flex;
  flex-direction: column;
}
.center {
  margin: auto;
}
@media only screen and (min-width: 400px) {
  .app .side-bar .nav-header img {
    width: 3.5rem;
  }
  .app .main .profile-wrapper .profile-text .project-card img {
    width: 22em;
  }
}
@media only screen and (min-width: 730px) {
  .app .side-bar {
    margin: 0;
    width: 250px;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
  }
  .app .side-bar .nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
  }
  .app .side-bar .nav-header img {
    width: 5rem;
  }
  .app .side-bar .nav-header .nav-title {
    margin: 0.5em 0;
  }
  .app .side-bar .nav-header .nav-title h1 {
    margin: 1em 0;
  }
  .app .side-bar nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app .side-bar nav p {
    padding: 0.3em 0;
  }
  .app .side-bar footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em 0 1em 0;
    justify-content: baseline;
  }
  .app .side-bar footer p {
    margin: 0.5em;
    padding: 0.2em;
  }
  .app .main {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
  }
  .app .main .profile-wrapper .profile-text {
    padding: 1em;
  }
  .app .main .profile-wrapper .profile-text .project-card img {
    width: 25em;
  }
  .app .main .profile-wrapper .profile-text .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
  }
  .app .main .profile-wrapper .profile-text .list ul {
    padding: 0.5em 2em;
    margin: 0 2em;
  }
  .app .main footer {
    display: none;
  }
}
@media only screen and (min-width: 950px) {
  .app .side-bar {
    width: 350px;
  }
  .app .main {
    margin-left: 350px;
  }
  .app .main .profile-wrapper .profile-text .project-card img {
    width: 30em;
  }
}
