@import 'base.less';

@media @400 {
    .app {
        .side-bar {
            .nav-header {
                img {width: 3.5rem;}
            }
        }
        .main {
            .profile-wrapper {
                .profile-text {
                    .project-card {
                        img {width: 22em;}
                    }
                }
            }
        }
    }
}

@media @730 {
    .app {
        .side-bar {
            margin: 0;
            width: 250px;
            padding: 0;
            position: fixed;
            height: 100%;
            overflow: auto;
            .flexcolumn();
            justify-content: flex-start;

            .nav-header {
                .flexcolumn();
                margin: .5em 0;

                img {width: 5rem;}

                .nav-title {
                    margin: .5em 0;

                    h1 {margin: 1em 0;}
                }
            }
            nav {
                .flexcolumn();

                p {padding: .3em 0;}
            }
            footer {
                .flexcolumn();
                margin: 4em 0 1em 0;
                justify-content: baseline;

                p {
                    margin: .5em;
                    padding: .2em;
                }
            }
        }
        .main {
            margin-left: 250px;
            .flexcolumn();
            justify-content: flex-start;

            .profile-wrapper {
                .profile-text {
                    padding: 1em;
                    .project-card {
                        img {width: 25em;}
                    }
                    .list {
                        .flexrow();
                        padding: .5em;

                        ul {
                            padding: .5em 2em;
                            margin: 0 2em;
                        }
                    }
                }
            }

            footer {display: none;}
        }
    }
}

@media @950 {
    .app {
        .side-bar {width: 350px;}
        .main {
            margin-left: 350px;
            .profile-wrapper {
                .profile-text {
                    .project-card {
                        img {width: 30em;}
                    }
                }
            }
        }
    }
}